Library/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Space_Shooter_v2.sln
.vs/Space_Shooter_v2/v16/.suo
CF2-Data/
obj/
Temp/
Biilds/Test.apk
spaceshooter.sln
CF2-Data/Settings/CF2.config
CF2-Data/Settings/CF2.config
Build/SpaceShooter.apk
CF2-Data/Settings/CF2.config
.vs/spaceshooter/v16/.suo
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
